body{
    margin: 0;
    padding: 0;
}
.box{
    width: 980px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

.headerr{
    background-color: rgb(10, 121, 11);
    text-align: center;
    height: 140px;
    /* border-bottom: 15px;
    border-color: aliceblue; */
    margin-bottom: 15px;
   
}
.container{
    display: flex;
    margin-bottom: 15px;

}
#c-1{
    background-color: rgb(10, 121, 11);
    width: 275px;
    height: 450px;
    text-align: center;
    justify-content: center;
     /* padding-top: 105px;  */
}

#c-2{
    background-color: rgb(10, 121, 11);
    width: 690px;
    height: 450px;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: 15px;
}
.footerr{
    background-color: rgb(10, 121, 11);
    text-align: center;
    height: 70px;

}